notebooks/author-sesion1_partea.ipynb
notebooks/author-sesion2.ipynb
notebooks/author-sesion3.ipynb
notebooks/author-sesion4.ipynb
notebooks/author-sesion5.ipynb
notebooks/author-sesion6.ipynb
notebooks/author-sesion7.ipynb
notebooks/author-sesion3-1.ipynb
notebooks/author-sesion8.ipynb
notebooks/author-sesion9.ipynb
notebooks/author-sesion10.ipynb

notebooks/author-sesion1_practica.ipynb
notebooks/author-sesion2_practica.ipynb

source/data/extract-data

source/data-noshare

notebooks/cache/

source/data/outputs