notebooks/author-sesion1_partea.ipynb
notebooks/author-sesion2.ipynb
notebooks/author-sesion3.ipynb
notebooks/author-sesion4.ipynb
notebooks/author-sesion5.ipynb
notebooks/author-sesion6.ipynb
notebooks/author-sesion7.ipynb